@model PropertyRental.Property

<h2>Create New Property</h2>

<form method="post">
    <label>Title</label>
    <input name="Title" class="form-control" />

    <label>Address</label>
    <input name="Address" class="form-control" />

    <label>Price</label>
    <input name="Price" class="form-control" />

    <button type="submit" class="btn btn-success mt-3">Save</button>
</form>