@model PropertyRental.Property

<h2>Create New Property</h2>

<form method="post" enctype="multipart/form-data">
    <label>Title</label>
    <input name="Title" class="form-control" />

    <label>Address</label>
    <input name="Address" class="form-control" />

    <label>Price</label>
    <input name="Price" class="form-control" />

    <div class="form-group mt-2">
        <label>Property Image</label>
        <input type="file" name="imageFile" class="form-control" accept="image/*" />
    </div>

    <button type="submit" class="btn btn-success mt-3">Save</button>
</form>